<h1>Questions</h1>

<% if current_user %>
  <h5><%= link_to "Ask a Question", new_question_path %></h5>
<% else %>
  <h5><%= link_to "Sign in", '/signin' %> to ask a question</h5>
<% end %>

<% if @questions.any? %>
  <% @questions.each do |question| %>
    <div class="question-title">
      <% if current_user %>
        <%= form_for [question, question.votes.new] do |f| %>
          <%= f.hidden_field :is_upvote, value: true %>
          <%= f.submit "Upvote" %>
        <% end %>
        <%= form_for [question, question.votes.new] do |f| %>
          <%= f.hidden_field :is_upvote, value: false %>
          <%= f.submit "Downvote" %>
        <% end %>
      <% end %>
      <h3><%= link_to question.title, question_path(question) %></h3>
    </div>
  <% end %>
<% else %>
  <h3>There are no saved questions.</h3>
<% end %>
