<h5><%= link_to "Back to Questions", questions_path %></h5>

<h2><%= @question.title %></h2>
<h4>Asked by <%= @question.user.user_name %></h4>
<p><%= @question.content %></p>

<% if current_user == @question.user %>
  <%= link_to "Edit", edit_question_path(@question) %> |
  <%= link_to "Delete", question_path(@question), data: {
    confirm: "This will permanently delete this question. Are you sure?",
    method: "delete"
    } %>
<% end %>
<h2>Answers:</h2>

<% if @question.answers.any? %>
  <% @question.answers.each do |answer| %>
    <% if answer.id %>
      <div class="">
        <h4> <%= answer.user.user_name %> </h4>
        <p> <%= answer.content %> </p>
      </div>
    <% end %>
  <% end %>
<% else %>
  <h3>There are no answers to this question yet.</h3>
<%end%>

<% if current_user %>
  <h3>Add an Answer</h3>
  <%= render "answers/form" %>
<% else %>
  <h5><%= link_to "Sign in", signin_path %> to post an answer. </h5>
<%end%>
