<!DOCTYPE html>
<html>
  <head>
    <title>StackClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if current_user %>
        <%= current_user.user_name %> | <%= link_to "Sign out", signout_path %>
      <% else %>
        <%= link_to "Sign up", signup_path %> | <%= link_to "Sign in", signin_path %>
      <% end %>

      <div class="container">
        <% if flash[:alert] %>
          <div class="alert alert-danger">
            <%= flash[:alert] %>
          </div>
        <% end %>

        <% if flash[:notice] %>
          <div class="alert alert-info">
            <%= flash[:notice] %>
          </div>
        <% end %>
        
        <%= yield %>
      </div>

    </div>

  </body>
</html>
