<!DOCTYPE html>
<html>
  <head>
    <title>StackClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= current_user.user_name %> | <%= link_to "Sign out", signout_path %>
    <% else %>
      <%= link_to "Sign up", signup_path %> | <%= link_to "Sign in", signin_path %>
    <% end %>

    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= yield %>
  </body>
</html>
